<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - DateTimePicker</title>


  <script src="bower_components/angular/angular.min.js"></script>

  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/moment/locale/ru.js"></script>

  <script src="dist/index.js"></script>

  <style>
    td.active {
      background-color: silver;
      color: white;
    }
  </style>

  <script id="main">
  'use strict';

  (function (angular) {
    angular
      .module('app', ['dateTimePickerNgComponent'])
      .controller('MainCtrl', function MainCtrl() {
        var ctrl = this;
        ctrl.showPicker = true;
        ctrl.togglePicker = function() { ctrl.showPicker = !ctrl.showPicker; }
        ctrl.reset = function () { ctrl.date = new Date(1979, 11, 15); }
        ctrl.update = function (val) { ctrl.date = new Date (val) }
        ctrl.reset();
      });
  })(window.angular)
  </script>



</head>
<body ng-app="app" ng-controller="MainCtrl as $ctrl">
  <h2 ng-click="$ctrl.togglePicker()">Birthday: {{ $ctrl.date }} <button ng-click="$ctrl.reset()">Reset</button></h2>
  <date-time-picker
    value="$ctrl.date"
    visible="$ctrl.showPicker"
    on-change="$ctrl.update"
    ></date-time-picker>
</body>
</html>
